<!DOCTYPE html>
<link rel="stylesheet" href="/static/css/style.css">
<script src="/static/js/script.js"></script>
<!-- <script src="/static/js/script.js"></script> -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap">
<script src="/static/js/app.bundle.js"></script>
<link rel="manifest" href="/static/site.webmanifest">
<link rel="stylesheet" href="/static/css/app.css">
<html lang="en" class="dark">
  <head>
    <%- include('./partials/header.ejs') %>
  </head>
  <body class="bg-gray-50 dark:bg-gray-800">
    <%- include('./partials/navbar-dashboard.ejs') %>

    <div class="flex pt-16 overflow-hidden bg-gray-50 dark:bg-gray-900">
      <%- include('./partials/sidebar.ejs') %>

      <div id="main-content" class="relative w-full h-full overflow-y-auto bg-gray-50 lg:ml-64 dark:bg-gray-900">
        <main>
          <%- body %>
        </main>
<!-- 
        <% if (locals.footer && locals.footer === true) { %>
          <%- include('./partials/footer.ejs') %>
        <% } %>
         -->
      </div>
    </div>

    <%- include('./partials/scripts.ejs') %>
  </body>
</html>
